<div class="row d-flex justify-content-center mt-100 mb-100">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="card-title m-b-0">Conheça os Nossos <strong>Clientes</strong></h4>
            </div>
            <ul class="list-style-none">
                <li class="d-flex no-block card-body">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">CATOCA (Aeroporto e Mina de Luaxi)</a>
                        <span class="text-muted">Atualizações sobre o projeto da mina de Luaxi e o aeroporto de Catoca.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">BIOCOM (Biocombustíveis de Angola)</a>
                        <span class="text-muted">Informações recentes sobre o projeto de biocombustíveis da BIOCOM.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">PRODEL (Produção hídrica)</a>
                        <span class="text-muted">Novidades sobre a produção de energia hídrica pela PRODEL.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">ISP-TUNDAVALA (Investigação Ciêntifica)</a>
                        <span class="text-muted">Avanços nas pesquisas científicas do ISP-Tundavala.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">MINAGRIF-IIA (Investigação agronómica)</a>
                        <span class="text-muted">Pesquisas recentes do MINAGRIF-IIA no campo agronômico.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">ITAH (Investigação agronómica)</a>
                        <span class="text-muted">Novos projetos de pesquisa agronômica do ITAH.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">CSE-PA (IT e Telemedicina)</a>
                        <span class="text-muted">Atualizações sobre o projeto de IT e Telemedicina no CSE-PA.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">CENTRO MÉDICO SAGRADA ESPERANÇA de QUIBALA (IT e Telemedicina)</a>
                        <span class="text-muted">Atualizações sobre o projeto de telemedicina na região de Quibala.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">SPCB (Serviço de Proteção Civil e Bombeiros de Benguela "hydromet")</a>
                        <span class="text-muted">Novidades sobre o projeto hydromet com o SPCB em Benguela.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">FEC (Fundação Fé e Cooperação "Agromet")</a>
                        <span class="text-muted">Informações sobre o projeto Agromet com a Fundação Fé e Cooperação.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">INIPM (Instituto de Investigação Pesqueira e Marinha de Angola)</a>
                        <span class="text-muted">Novidades no projeto de pesquisa marinha com o INIPM.</span>
                    </div>
                    
                </li>
                <li class="d-flex no-block card-body border-top">
                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                    <div>
                        <a  class="m-b-0 font-medium p-0" data-abc="true">CENTRO MÉDICO SAGRADA ESPERANÇA DO SELES</a>
                        <span class="text-muted">Atualizações sobre o centro médico em Seles e seus avanços em IT e Telemedicina.</span>
                    </div>
                    
                </li>
            </ul>
        </div>
    </div>
</div>
