<section class="timeline" style="border-bottom: 4px solid #e9881a; border-top: 4px solid #e9881a;">
  <div class="container">
      <!-- ITEM 1 - Missão -->
      <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
              <h2>Missão</h2>
              <p>Prover soluções tecnológicas inovadoras para a monitorização ambiental e segurança, comprometidos com a excelência em todos os nossos serviços, desde a instalação até a formação técnica, visando o desenvolvimento sustentável.</p>
          </div>
      </div>

      <!-- ITEM 2 - Visão -->
      <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInRight">
              <h2>Visão</h2>
              <p>Ser referência no fornecimento de soluções tecnológicas para monitoramento ambiental e infraestrutura, reconhecida pela qualidade e inovação dos nossos produtos e serviços.</p>
          </div>
      </div>

      <!-- ITEM 3 - Valores -->
      <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
              <h2>Valores</h2>
              <p>Compromisso com a sustentabilidade, inovação constante, integridade nas relações com clientes e parceiros, e excelência no atendimento ao cliente.</p>
          </div>
      </div>

      <!-- ITEM 4 - Inovação -->
      <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInRight">
              <h2>Inovação</h2>
              <p>Estamos sempre na vanguarda da tecnologia, buscando novas soluções e melhorias para oferecer produtos e serviços que atendam às demandas de um mundo em constante mudança.</p>
          </div>
      </div>
  </div>
</section>
