 <div class="header" style="border-bottom: 4px solid #e9881a;">
    <div class="container">
        <div class="header__top">
            <div>
                <h1 class="header__title">
                    <span class="header__title__strong">Sobre Nós</span>
                </h1>
            </div>
        </div>
        <p class="header__blurb">Soluções completas em Geotecnia para projetos desafiadores. Conte com nossa expertise em estudos de solo, monitoramento estrutural e segurança para garantir a estabilidade e o sucesso das suas obras.</p>
    
    </div>
</div>