.visao{
    text-align: left;
    font-family: 'Montserrat';
    background-color: #1a4734;
    border-bottom: 4px solid #e9881a;
    padding: 70px;
    h2{
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
        color: #e9881a;
    }

    p{
        color: white;
        font-weight: 500;
    }
}