
<div class="container py-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" style="border-bottom: 4px solid #e9881a;">
	<div class="row">
			<h4 style="text-align:center">Entre em contacto connosco</h4>
	</div>
	<div class="row input-container">
			<div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>Name</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Email</label> 
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input type="text" required />
					<label>Phone Number</label> 
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
			<div class="col-xs-12 d-flex justify-content-center">
				<div class="btn btn-success">Enviar mensagem</div>
			</div>
	</div>
</div>
