<!-- 
  
<div class="hero mask-polygon-1">
    <video autoplay muted loop class="hero__video">
      <source style="object-fit: cover;" src="avisão.mp4" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
    <div class="hero__caption">
      <h2>"QUANDO A MEDIÇÃO REALMENTE IMPORTA"</h2>
    </div>
  </div>
   -->

<div class="hero block inverse">
  <video autoplay muted loop playsInline class="background-video">
    <source src="avisão.mp4" type="video/mp4" style="object-fit: cover;">
    Your browser does not support the video tag. | O seu browser não suporta a tag de vídeo
  </video>
  <div class="container">
    <h1 class="text-center">Telemetry & IT Plus</h1>
  </div>
</div>

<div class="block" style="background: #333336;">
  <div class="container " style=" color: white; font-family: 'Montserrat';">
    <div class="col-md-10 col-md-offset-1">
      <h2><strong>Quem somos ?</strong></h2>
      <p>Somos uma empresa com experiência que desenvolve e implementa soluções para monitorização ambiental, de onde
        destacamos:
      
        <li>Soluções em Tecnogia de Informação;</li>
        <li> Estações Meteorológicas Automáticas desenhadas para variadas aplicações;
        </li>
        <li>Estações sismológicas;</li>
        <li>Parametrização e fornecimento de equipamentos de segurança para Minas.</li>
        <li>Monitorização de estruturas pesadas (pontes e edifícios)</li>
      
      As nossas soluções de integração final são resultado dos requisitos da aplicação para o sistema a ser monitorado.
      Do conjunto de soluções oferecidas, a instalação e formação fazem parte do pacote serviços .</p>
    </div>
  </div>
</div>