.faq{
    padding-bottom: 50px;
    font-family: 'Montserrat';
    padding-top: 50px;
    background: beige;
}

h3{
    font-weight: 700;
}

p{
    font-weight: 500;
}
.texto{
    display: flex;
    flex-direction: row;
    gap: 20px;

    img{
        width: 90px;
        height: 80px;
    }
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn{
    padding: 20px!important;
}
