<div class="faq " style="border-bottom: 4px solid #e9881a;">

 <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <div class="col-12 linha">
        <div class="texto">
            <img src="icon-faq.png" alt="Ícone perguntas e respostas">
           <div>
               <h3>NEED CUSTOMER SUPPORT?</h3>
               <p>Please visit our customer support portal for assistance with your Telemetry service.</p>
           </div>
        </div>
        <!-- <button class="btn btn-success">Contactar</button> -->
  
    </div>
 </div>

</div>
