<nav>
    <div class="container">
        <input id="responsive-menu" type="checkbox">
        <label for="responsive-menu" style="color: white!important; font-weight: 700;">Menu <span id="menu-icon"></span></label>
        <div id="overlay"></div>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a routerLink="/servicos">Serviços</a></li>
            <li><a routerLink="/contactos">Contactos</a></li>
        </ul>
        <ul id="social-media">
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                    <span class="screen-reader-text">Twitter</span>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                    <span class="screen-reader-text">LinkedIn</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                    <span class="screen-reader-text">Instagram</span>
                </a>
            </li>
        </ul>
    </div>
</nav>