<body oncontextmenu="return false">
    <div class="container">
        <h1>Vídeos</h1>
        <div id="video_player">
            <video controls poster="" class="video" id="video">
                <source src="avisão.mp4" type="video/mp4">
                <source src="avisão.mp4" type="video/mp4">
            </video>
            <div class="scrollBox">
                <div class="box">
                    <img src="fundo.jpeg">
                    <div class="box-content">
                        <h3>Monitorização Ambiental - Soluções Inovadoras</h3>
                        <a href="avisão.mp4" class="btn">Assistir</a>
                    </div>
                </div>
                <div class="box">
                    <img src="fundo.jpeg">
                    <div class="box-content">
                        <h3>Estação Meteorológica em Ação</h3>
                        <a href="avisão.mp4" class="btn">Assistir</a>
                    </div>
                </div>
                <div class="box">
                    <img src="fundo.jpeg">
                    <div class="box-content">
                        <h3>Monitorização Sismológica</h3>
                        <a href="avisão.mp4" class="btn">Assistir</a>
                    </div>
                </div>
                <div class="box">
                    <img src="fundo.jpeg">
                    <div class="box-content">
                        <h3>Segurança e Monitorização de Estruturas</h3>
                        <a href="avisão.mp4" class="btn">Assistir</a>
                    </div>
                </div>
                <div class="box">
                    <img src="fundo.jpeg">
                    <div class="box-content">
                        <h3>Soluções de TI - Inovação em Angola</h3>
                        <a href="avisão.mp4" class="btn">Assistir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ###########################javascript for video Player################ -->
    <script type="text/javascript">
        let anchors = document.querySelectorAll('div .btn');
        let links = [...anchors];

        for (let i=0; i<links.length; i++) {
            links[i].onclick = handler;
        }

        function handler(e) {
            e.preventDefault();
            let videotarget = this.getAttribute("href");
            let filename = videotarget.substr(0, videotarget.lastIndexOf('.'));
            let video = document.getElementById("video");
            video.removeAttribute("poster");
            let source = document.querySelectorAll("#video_player video source");
            source[0].src = filename + ".mp4";
            source[1].src = filename + ".m4v";
            video.load();
            video.play();
        }
    </script>
</body>
