<div class="banner" style="background: url(verde.jpeg); border-bottom: 4px solid #e9881a;">
    <div class="container">
      <div class="texto">
        <h1 class="Drak-Blue">Contacte-nos</h1>
        <p class="descricao"><p>Entre em contato com a Telemetry para mais informações sobre nossas soluções de monitorização ambiental, integração tecnológica ou qualquer outro assunto relacionado com nossas áreas de atuação.</p>
  
        <p style="margin-top: 40px;"><img src="down-arrow.png" alt=""></p>
  
    </div>
    <div class="imagem">
        <img src="fundo.jpeg" alt="">
    </div>
    </div>
  </div>
  