<section class="dark">
    <div class="container py-4">
        <h1 class="h1 text-center" id="pageHeaderTitle" style="color: white;">Descrição do nosso <strong>Serviço</strong></h1>

        <article class="postcard dark red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="geo-mac.jpg" alt="Image Title" />
            </a>
            <div class="postcard__text">
                <h1 class="postcard__title red"><a href="#">Serviço de Geotecnia</a></h1>
                
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    A nossa equipe especializada oferece serviços de investigação e análise de solos, permitindo avaliações precisas de estabilidade de terrenos. Garantimos soluções personalizadas para projetos de construção, infraestrutura e monitoramento de desastres naturais, com tecnologias avançadas para resultados de alta precisão.
                </div>
            </div>
        </article>
    </div>
</section>

<!---->

<section class="light" style="border-top:4px solid #e9881a; border-bottom:4px solid #e9881a;">
    <div class="container py-2">
        <div class="h1 text-center text-dark" id="pageHeaderTitle">Trabalhos Realizados</div>

        <article class="postcard light blue">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="geojpeg.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a href="#">Monitoramento de Estruturas em Luanda</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2022-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Mai, 2022
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Projeto de monitoramento de estruturas pesadas em Luanda, onde instalamos sensores para avaliar a estabilidade de edifícios e pontes em áreas de alto risco sísmico.
                </div>
            </div>
        </article>

        <article class="postcard light red">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="ponte.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title red"><a href="#">Estudo de Solos em Benguela</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2021-08-14 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Ago, 2021
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Realização de estudo de solos para avaliação da viabilidade de projetos de construção em Benguela, incluindo análise de solo e gestão de riscos geotécnicos.
                </div>
            </div>
        </article>

        <article class="postcard light green">
            <a class="postcard__img_link" href="#">
                <img class="postcard__img" src="geotecnia-banner.jpeg" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title green"><a href="#">Estação Sismológica no Huambo</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="2020-11-10 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Nov, 2020
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">
                    Instalação de uma estação sismológica no Huambo para monitorar a atividade sísmica na região, contribuindo para a prevenção de desastres e planejamento urbano seguro.
                </div>
            </div>
        </article>
    </div>
</section>
