
      <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col text-center mb-5">
                    <h1 class="display-4 font-weight-bolder">Nossos Serviços</h1>
                    <p class="lead">Conheça as soluções que oferecemos em diversas áreas de atuação.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-dark card-has-bg click-col" style="background-image:url('fundo.jpeg'); background-size: cover;">
                        <img class="card-img d-none" src="fundo.jpeg" alt="Agrometeorologia e Biodiversidade">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Soluções Ambientais</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" href="#">Agrometeorologia e Biodiversidade</a></h4>
                            </div>
                            <div class="card-footer">
                                Oferecemos monitoramento climático e análise ambiental para promover sustentabilidade em áreas agrícolas.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4" routerLink="servicos">
                    <div class="card text-dark card-has-bg click-col" style="background-image:url('fundo.jpeg'); background-size: cover;">
                        <img class="card-img d-none" src="fundo.jpeg" alt="Geotecnia">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Engenharia Geotécnica</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" >Geotecnia</a></h4>
                            </div>
                            <div class="card-footer">
                                Serviços de análise de solos e fundações para garantir a segurança estrutural em grandes projetos.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-dark card-has-bg click-col" style="background-image:url('fundo.jpeg'); background-size: cover;">
                        <img class="card-img d-none" src="fundo.jpeg" alt="IT Solutions">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Soluções de TI</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" href="#">IT Solutions</a></h4>
                            </div>
                            <div class="card-footer">
                                Soluções inovadoras de TI para otimizar processos e promover a transformação digital.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-dark card-has-bg click-col" style="background-image:url('fundo.jpeg'); background-size: cover;">
                        <img class="card-img d-none" src="fundo.jpeg" alt="Meteorologia Aeronáutica e Naval">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Meteorologia</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" href="#">Meteorologia Aeronáutica e Naval</a></h4>
                            </div>
                            <div class="card-footer">
                                Monitoramento e previsão de clima para operações aeronáuticas e navais, aumentando a segurança.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-dark card-has-bg click-col" style="background-image:url('fundo.jpeg'); background-size: cover;">
                        <img class="card-img d-none" src="fundo.jpeg" alt="Monitorização Solar">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Energia Renovável</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" href="#">Monitorização Solar</a></h4>
                            </div>
                            <div class="card-footer">
                                Soluções para análise de eficiência em instalações solares, promovendo o uso de energia renovável.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card text-dark card-has-bg click-col" style="background-image:url('fundo.jpeg'); background-size: cover;">
                        <img class="card-img d-none" src="fundo.jpeg" alt="Sismologia">
                        <div class="card-img-overlay d-flex flex-column">
                            <div class="card-body">
                                <small class="card-meta mb-2">Monitoramento Sísmico</small>
                                <h4 class="card-title mt-0 "><a class="text-dark" href="#">Sismologia</a></h4>
                            </div>
                            <div class="card-footer">
                                Monitoramento de atividades sísmicas para a prevenção de desastres e planejamento urbano seguro.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    