
<div class="texto"  data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <h5  >
        <div class="d-flex align-items-center">
          <hr class="linha-horizontal">
          <!-- <p class="titulo-noticias">Serviços</p> -->
        </div>
    </h5>
    <h3 >Conheça os principais <span>Serviços</span> que prestamos para si</h3>
</div>
<div class="cards-list" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" >
  
    <!-- <div class="card 1">
      <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div> -->
    
    <!-- <div class="card 3">
      <div class="card_image">
        <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
      </div>
      <div class="card_title">
        <p>Card Title</p>
      </div>
    </div> -->
    <div class="card 3">
      <div class="card_image">
        <img src="fundo.jpeg" />
      </div>
      <div class="card_title">
        <p>Sismologia</p>
      </div>
    </div>
    <div class="card 3">
      <div class="card_image">
        <img src="fundo.jpeg" />
      </div>
      <div class="card_title">
        <p>Monitorização Solar
        </p>
      </div>
    </div>
    <div class="card 3">
      <div class="card_image">
        <img src="fundo.jpeg" />
      </div>
      <div class="card_title">
        <p>IT Solutions
        </p>
      </div>
    </div>
    <div class="card 3">
      <div class="card_image">
        <img src="fundo.jpeg" />
      </div>
      <div class="card_title">
        <p>Geotecnia</p>
      </div>
    </div>
    
    </div>