



<div class="text-picture">
    <div class="container">
      <div class="row row--flex">
        <div class="col-sm-6 row--flex__col--center text-picture__text">
          <h2>História da Telemetry</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, obcaecati. Iusto molestias ipsa ut repellendus fuga doloribus obcaecati reiciendis, laudantium magni fugiat tempora repellat quidem dignissimos perferendis sit ea odit laboriosam ducimus. Tempora soluta, ad ipsa et sapiente adipisci accusamus neque harum dolorum animi recusandae quibusdam itaque obcaecati expedita, tempore laborum, nemo sit. Inventore minus dolorem atque ut, odit quisquam aperiam hic dolorum dolore omnis quasi eos doloribus praesentium asperiores animi iste et. Blanditiis in labore cumque consequatur temporibus tempora maxime odit nihil et beatae, deleniti autem at, facere nesciunt esse nobis! Dolorem et harum provident corporis odit aspernatur officia?
          </p>
        </div>
        <div class="col-sm-6 text-picture__picture">
          <img src="geo-mac.jpg" alt="Image" class="img-responsive" width="100%" style="border-radius: 8px;" />
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  