  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Somos especialistas em desenvolver e implementar soluções inovadoras para monitorização ambiental e tecnológica. Oferecemos estações meteorológicas e sismológicas, monitorização de estruturas pesadas como pontes e edifícios, além de equipamentos de segurança para minas. Nossas soluções são personalizadas de acordo com os requisitos específicos de cada aplicação, e nossos serviços incluem instalação e formação.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Serviços</h6>
          <ul class="footer-links">
            <li><a href="#">AGROMETEOROLOGIA E BIODIVERSIDADE</a></li>
            <li><a href="#">Geotecnia</a></li>
            <li><a href="#">IT Solutions</a></li>
            <li><a href="#">Meteorologia Aeronáutica e Naval</a></li>
            <li><a href="#">Monitorização Solar</a></li>
            <li><a href="#">Sismologia</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Links rápidos</h6>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contactos</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Telemetry  IT</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
<div class="sec" style="padding: 20px; display: flex; justify-content: center; align-items: center;
 text-align: center; color: white; background-color: #3f6033;">
  <p>© Copyright 2024 Telemetry & IT Plus, Lda .</p>
</div>